name: OrderPulse Actions

on:
  push:
    branches:
      - '*'  # Execute in all the branchs
  pull_request:
    branches:
      - '*'  # Execute in all the branchs from pull requests

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt  # Your Python requirements file

      - name: Install Commit-linter
        run: |
          pip install commit-linter

      - name: Lint Commit
        run: |
          commit-lint --from=HEAD^

  app:
    runs-on: ubuntu-latest

    steps:
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt  # Your Python requirements file

      - name: Build and Run Docker
        run: |
          docker-compose up --build -d
          docker-compose ps  # Display information about containers