name: OrderPulse Actions

on:
  push:
    branches:
      - '*'  # Execute in all the branchs
  pull_request:
    branches:
      - '*'  # Execute in all the branchs from pull requests

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Lint Commit
        run: |
          commit-linter --from=HEAD^

      - name: Build and Run Docker
        run: |
          docker-compose up --build -d
          docker-compose ps

  check_directory:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: List Directory Contents
        run: ls -la

  test:
    runs-on: ubuntu-latest

    services:
      docker-compose:
        image: docker/compose:1.29.2
        options: --privileged --rm
        ports:
          - 8000:8000

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Start Docker
        run: |
          docker --version
          sudo service docker start

      - name: Build and run Docker containers
        run: |
          docker-compose -f docker-compose.yaml up -d

      - name: Run tests with coverage
        run: |
          coverage run -m pytest -v
          coverage report -m --fail-under=95
        env:
          APP_URL: ${{ secrets.APP_URL }}
          MONGO_URL: ${{ secrets.MONGO_URL }}
          MONGO_USERNAME: ${{ secrets.MONGO_USERNAME }}
          MONGO_PASSWORD: ${{ secrets.MONGO_PASSWORD }}

      - name: Stop Docker containers
        run: |
          docker-compose down